* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.button {
  text-decoration: none;
  font-size: 15px;
  border: 2px solid rgb(221, 70, 70);
  border-radius: 20px;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
}

button a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
  font-family: "cursive";
}

.nav {
  display: flex;
  gap: 4px;
  color: rgb(0, 0, 0);
}

.anchor {
  color: rgb(221, 80, 80);
  font-weight: bolder;
  font-size: 25px;
}

.zoom {
  transition: transform 0.5s;
}

.zoom:hover {
  transform: scale(1.5);
}

.navlink {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  align-items: center;
}

.navactive {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  align-items: center;
  background-color: rgba(226, 217, 217, 0.61);
  backdrop-filter: blur(14px);
}

.navvv {
  display: none;
}

.web:hover {
  transform: translateY(-100%);
}

.computer {
  width: 300px;
  height: 300px;
  border-radius: 20%;
}

.a:hover {
  animation: vibrate 2s ease-in-out infinite;
}

@keyframes vibrate {
  from {
    transform: rotateY(50deg);
  }
  to {
    transform: rotateY(-50deg);
  }
}

input {
  width: 30%;
  height: 30px;
}

textarea {
  width: 50%;
  height: 100px;
}

input,
textarea {
  border-radius: 8px;
}

.contactbtn {
  background: transparent;
  width: 85px;
  height: 45px;
  cursor: pointer;
  border-radius: 20px;
}

@media screen and (max-width: 922px) {
  .nav {
    display: none;
  }
  .navvv {
    display: block;
  }
  .name {
    font-size: 25px;
  }
}

@media screen and (max-width: 412px) {
  .span {
    display: none;
  }
  .myname {
    font-size: 20px;
  }
}
